/* App.css */
@import "../node_modules/react-pdf/dist/esm/Page/AnnotationLayer.css";
@import "../node_modules/react-pdf/dist/esm/Page/TextLayer.css";

body {
    font-family: 'Inter', sans-serif;
    background-color: #fff; 
    margin: 0;
    padding: 0; 
    background-image: url('./assets/pattern_backround_1.png'); 
    background-repeat: repeat; 
    background-size: 1440px 1024px;
  }
  
  html, body {
    height: 100%;
    overflow: hidden;
  }
  
  #root {
    position: relative;
    z-index: 1;
    height: 100%;
  }
  
  #rectangle {
    position: absolute;
    left: 0;
    top: 0;
    width: 708px;
    height: 1023px;
    background-color: #2E9DDD;
  }
  
